* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    max-height: fit-content;
}

.random-select {
    font-size: 20px;
}

button {
    background-color: rgb(212, 186, 226);
    color: darkblue; 
    font-weight: 700;
    height: 40px;
    width: 180px;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(217, 206, 223);
}

button:hover {
    color:rgb(212, 186, 226);
    background-color: darkorchid;
    cursor: pointer;
}
.mother {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mother h1 {
    color: darkblue;
    font-size: 50px;
    text-shadow: 1px 1px;
}

.mother p {
    font-size: 20px;
    color: red;
    font-weight: 800;
}

.defense {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.defense h1 {
    color: darkmagenta;
    font-size: 30px;
}

.defense p {
    font-size: 20px;
    color: red;
    font-weight: 800;
    width: 40px;
}

.attack {
    padding-top: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.attack h1 {
    color:darkorchid;
    font-size: 30px;
}

.attack p {
    font-size: 20px;
    color: red;
    font-weight: 800;
    width: 40px;
}
